<!DOCTYPE html>
<html>
  <head>
    <title>RssReader</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  <b>
    <ul>
      <li><a href="/rss_urls">Rss Urls</a></li>
      <li><a href="/rss_urls/parse_rss">Parse Feeds</a></li>
      <li><a href="/feeds">Feeds</a></li>
    </ul>
  </b>
</head>
<body>
  <div class="container-fluid">
    <%= yield %>
  </div>
</body>
</html>
