<!DOCTYPE html>
<html>
  <head>
    <title>RssReader</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  <b>
    <ul>
      <li><a href="/rss_urls">Rss Urls</a></li>
      <li><a href="/rss_urls/parse_rss">Parse Feeds</a></li>
      <li><a href="/feeds">Feeds</a></li>
    </ul>
  </b>
</head>
<body>

  <%= yield %>

</body>
</html>
